/* #root é como se fosse o body do projeto (informação que pode ser útil) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: rgba(57, 62, 70, 1);
  --section-color: rgba(0, 178, 202, 0.28);
  --button-color: #00B2CA;
  --button-color-transparent: #00b2ca9e;
  --white: #fff;
}


* {
  box-sizing: border-box !important;
  text-decoration: none !important;
}

/* -------------------------------------------- */
/* HEADER */
/* -------------------------------------------- */

header {
  background-color: var(--primary-color);
  display: inline-flex;
  width: 100%;
  height: 115px;
  align-items: center;
  justify-content: space-around;
}

/* -------------------------------------------- */
/* SECTION_1 */
/* -------------------------------------------- */

.logo-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.logo-div a {
  display: inline-flex;
  
}

.logo-div img {
  width: 80px;
}

.imagens{ 
  position: relative;
}

.logo-imghv {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.logo-div:hover .logo-imghv {
  opacity: 1;
  transition: opacity 0.5s;
  transform: scale(1.1);
}

.logo-div:hover .logo-logo {
  transform: scale(1.1);
}

.logo-div h1 {
  color: var(--white);
  font-size: 27px;
  transition: color 0.5s;
}

 .logo-div:hover h1 {
  color: var(--button-color);
  transition: color 0.5s;
  transform: scale(1.1);
} 

/* -------------------------------------------- */
/* SECTION_2_3 */
/* -------------------------------------------- */

header nav ul {
  margin: 0 !important;

  display: flex;
  list-style-type: none;
  gap: 25px;
  align-items: center;
}

header nav ul li a {
  color: var(--button-color);
  font-size: 27px;
  transition: color 0.5s;
}

header nav ul li a:hover {
  color: white;
  transition: color 0.5s;
}

header nav ul li:hover {
  transform: scale(1.1);
}
/* -------------------------------------------- */
/* FOOTER */
/* -------------------------------------------- */
.footer {
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  display: flex;
  justify-content: space-between;
  
}

.footer a {
  color: var(--white);
  transition: color 0.5s;
}

.footer a:hover {
  color: var(--button-color)
}

/* -------------------------------------------- */
/* SECTION_1 */
/* -------------------------------------------- */

.Redes {
  display: inline-flex;
  margin: 10px; 
  flex-direction: column;
  gap: 30px;
}

.Redes h1{
  color: var(--button-color)
}

.Rede-icon {
  display: inline-flex;
  font-size: 4vh;
  flex-direction: column;
}

/* -------------------------------------------- */
/* SECTION_2 */
/* -------------------------------------------- */

.Impresa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Impresa_text {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Impresa_text p {
  font-size: 25px;
}
/* -------------------------------------------- */
/* SECTION_3 */
/* -------------------------------------------- */

.Duvida {
  display:flex;
  margin: 10px; 
  flex-direction: column;
  gap: 30px;
  
}

.Duvida h1 {
  color: var(--button-color)
}

.Duv-icon {
  display:flex;
  flex-direction: column;
  align-items: end;
  font-size: 4vh;
  

}

.Direitos {
  display: flex;
  justify-content: end;
  color: var(--white);

  
}

/* -------------------------------- */
/* PÁGINA DE ERRO */
/* -------------------------------- */

.Error-page div {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  gap: 50px;

}

.Error-page div img {
  height: 250px;
}

.Error-page section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Error-page section a{
  width: fit-content;
}

/* -------------------------------- */
/* HOME */
/* -------------------------------- */

.slide-banner {
  background-image: url(./assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
}

/* -------------------------------- */
/* Slide */
/* -------------------------------- */

.slide_show {
  display: flex;
  width: 122vh ;
  margin: 8vh;
  
}

.text_slide {
  background-color: var(--button-color-transparent) ;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10vh;
  width: 60vh;
  gap: 10vh;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
}

.textinho {
  font-size: 25px;
  font-weight: 700; /*grossura do texto*/
 /* line-height: 43px; espaço entre linhas*/
 text-align: justify;
}

.btn {
  border: 3px solid #fff  !important;
  font-size: 25px !important;
  transition: 0.5s;
  display: inline-block;
  margin: 0 4vh;
}

.btn:hover {
  border:  solid #00B2CA;
  color: #00B2CA;
  color: #fff ;
  transition: 0.5s;
  transform: scale(1.2);
}

/* -------------------------------- */
/* Enviar Comentario */
/* -------------------------------- */

.Comment-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--primary-color);
} 

.Comment-enviar {
  display: flex;
  background-color: var(--button-color-transparent); 
  width: 70vh;
  border: 3px solid #fff;
  border-radius: 14px;
  margin: 8vh;
  flex-direction: column;
  gap: 10px;
  height: 110vh;
}

 .Comment-enviar input {
  border-radius: 8px;
  border: solid #fff;
  width: 90%;
  font-size: 24px;
}

.Comment-enviar label {
  display: flex;
  align-items:start ;
  flex-direction: column;
  margin-left: 5vh;
}

.Comment-enviar h2 {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 4vh;
  
}

.Comment-enviar p {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 22px;
  
}

.caixa-enviar {
  display: flex;
  justify-content: center;
  margin: 5vh;
  
}

.enviar {
  border-radius: 8px;
  width: 29vh;
  margin: 10px;
  border: solid #fff;
  color: #fff;
  background-color: #00B2CA;
  font-size: 25px;
  transition: 0.5s;
  display: inline-block;
  
}

.enviar:hover {
  background-color: #fff;
  color: #00B2CA;
  transition: 0.5s;
  transform: scale(1.2);

}

.comentario {
  display: flex;
  width: 90%;
  height: 25vh;
  border-radius: 8px;
  border: solid #00B2CA;
  font-size: 30px;
  resize: none;
}

/* -------------------------------- */
/* Ler Comentario */
/* -------------------------------- */
.ler {
  background-color: var(--button-color-transparent); 
  border: 3px solid #fff;
  border-radius: 14px;
  margin: 8vh;
  height: 110vh;
  overflow: scroll ;
  width: 50%;
}

.Comment-exibir {
  font-size: 5vh;
  color: #fff;
}

.form-ler {
  width: 100%;
  padding: 10px;
  border-bottom: 3px solid #fff;
  border-top: 3px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 25px;
  margin-bottom: 5vh;
}

.ler-comentario  {
  max-width: 100% ;
  word-wrap: break-word;
}

/* -------------------------------- */
/* Criadores */
/* -------------------------------- */

.Criadores {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  color: #fff;
}

.pessoas {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto-user {
  width: 35vh;
  border: 3px solid #fff;
  border-radius: 20px;
}

.funcao {
  font-size: 34px;
}

/* -------------------------------- */
/* Página de Login*/
/* -------------------------------- */

.Login-page {
  display: flex;
}

.Login {
  background-color: var(--button-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.Login li {
  list-style: none;
}