/* #root é como se fosse o body do projeto (informação que pode ser útil) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: rgba(57, 62, 70, 1);
  --section-color: rgba(0, 178, 202, 0.28);
  --button-color: #00B2CA;
  --button-color-transparent: #00b2ca9e;
  --white: #fff;
}


* {
  box-sizing: border-box !important;
  text-decoration: none !important;
}

/* -------------------------------------------- */
/* HEADER */
/* -------------------------------------------- */

header {
  background-color: var(--primary-color);
  display: inline-flex;
  width: 100%;
  height: 115px;
  align-items: center;
  justify-content: space-around;
}

/* -------------------------------------------- */
/* SECTION_1 */
/* -------------------------------------------- */

.logo-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.logo-div a {
  display: inline-flex;
  
}

.logo-div img {
  width: 80px;
}

.imagens{ 
  position: relative;
}

.logo-imghv {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.logo-div:hover .logo-imghv {
  opacity: 1;
  transition: opacity 0.5s;
  transform: scale(1.1);
}

.logo-div:hover .logo-logo {
  transform: scale(1.1);
}

.logo-div h1 {
  color: var(--white);
  font-size: 27px;
  transition: color 0.5s;
}

 .logo-div:hover h1 {
  color: var(--button-color);
  transition: color 0.5s;
  transform: scale(1.1);
} 

/* -------------------------------------------- */
/* SECTION_2_3 */
/* -------------------------------------------- */

header nav ul {
  margin: 0 !important;

  display: flex;
  list-style-type: none;
  gap: 25px;
  align-items: center;
}

header nav ul li a {
  color: var(--button-color);
  font-size: 27px;
  transition: color 0.5s;
}

header nav ul li a:hover {
  color: white;
  transition: color 0.5s;
}

header nav ul li:hover {
  transform: scale(1.1);
}
/* -------------------------------------------- */
/* FOOTER */
/* -------------------------------------------- */
.footer {
  background-color: var(--primary-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  display: flex;
  justify-content: space-between;
  
}

.footer a {
  color: var(--white);
  transition: color 0.5s;
}

.footer a:hover {
  color: var(--button-color)
}

/* -------------------------------------------- */
/* SECTION_1 */
/* -------------------------------------------- */

.Redes {
  display: inline-flex;
  margin: 10px; 
  flex-direction: column;
  gap: 30px;
}

.Redes h1{
  color: var(--button-color)
}

.Rede-icon {
  display: inline-flex;
  font-size: 4vh;
  flex-direction: column;
}

/* -------------------------------------------- */
/* SECTION_2 */
/* -------------------------------------------- */

.Impresa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Impresa_text {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Impresa_text p {
  font-size: 25px;
}
/* -------------------------------------------- */
/* SECTION_3 */
/* -------------------------------------------- */

.Duvida {
  display:flex;
  margin: 10px; 
  flex-direction: column;
  gap: 30px;
  
}

.Duvida h1 {
  color: var(--button-color)
}

.Duv-icon {
  display:flex;
  flex-direction: column;
  align-items: end;
  font-size: 4vh;
  

}

.Direitos {
  display: flex;
  justify-content: end;
  color: var(--white);

  
}

/* -------------------------------- */
/* PÁGINA DE ERRO */
/* -------------------------------- */

.Error-page div {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  gap: 50px;

}

.Error-page div img {
  height: 250px;
}

.Error-page section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Error-page section a{
  width: fit-content;
}