.Slide-item {
    display: flex;
    width: 50vh;
    object-fit: cover;
    margin-left: 27vh;
}

.Carousel-container {
    background-color: var(--section-color); 
    margin-bottom: 18vh;
    padding: 0;
}

.carousel-image {
    width: 100%; /* Ajusta a largura das imagens ao tamanho do contêiner */
    height: auto; /* Mantém a proporção das imagens */
    max-height: 400px; /* Define uma altura máxima, você pode ajustar conforme necessário */
    object-fit: cover; /* Opcional: ajusta como a imagem deve ser redimensionada para caber no contêiner */
  }