/* #root é como se fosse o body do projeto (informação que pode ser útil) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-color: rgba(57, 62, 70, 1);
  --section-color: rgba(0, 178, 202, 0.28);
  --button-color: #00B2CA;
}

* {
  box-sizing: border-box !important;
  text-decoration: none !important;
}

/* -------------------------------------------- */
/* HEADER */
/* -------------------------------------------- */

header {
  background-color: var(--primary-color);
  display: inline-flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-around;
}

.logo-div a {
  display: inline-flex;
  gap: 15px;
  align-items: center;
}

.logo-div img {
  height: 50px;
}

.logo-div h1 {
  /* background-color: red; */
  color: white;
  font-size: 27px;
  transition: color 0.3s;
}

.logo-div h1:hover {
  color: var(--hover-color);
  transition: color 0.3s;
}

header nav ul {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  list-style-type: none;
  gap: 25px;
  align-items: center;
}

header nav ul li a {
  color: white;
  font-size: 17px;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: var(--hover-color);
  transition: color 0.3s;
}




/* -------------------------------- */
/* TABELA NA PÁGINA INICIAL DE CONTATOS */
/* -------------------------------- */


/* -------------------------------- */
/* TABELA NA PÁGINA INICIAL DE CONTATOS */
/* -------------------------------- */


/* -------------------------------- */
/* TABELA NA PÁGINA INICIAL DE CONTATOS */
/* -------------------------------- */


/* -------------------------------- */
/* PÁGINA DE ERRO */
/* -------------------------------- */

.Error-page div {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  gap: 50px;

}

.Error-page div img {
  height: 250px;
}

.Error-page section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Error-page section a{
  width: fit-content;
}