.Slide-item {
    display: flex;
    width: 40vh;
    object-fit: cover;
    margin-left: 25vh;
}

.Carousel-container {
    background-color: var(--section-color); 
    margin-bottom: 18vh;
    height: 60vh;
    
}

.carousel-images {
    width: 100%; /* Ajusta a largura das imagens ao tamanho do contêiner */
    height: auto; /* Mantém a proporção das imagens */
    max-height: 400px; /* Define uma altura máxima, você pode ajustar conforme necessário */
    object-fit: cover; /* Opcional: ajusta como a imagem deve ser redimensionada para caber no contêiner */
    margin-top: 3vh;
    border-radius: 10px;
}