/* -------------------------------- */
/* Página de Perfil */
/* -------------------------------- */

.section-Perfil {
    display: flex;
    background-color: var(--button-color-transparent);
    flex-direction: column;
    align-items: start;
    max-width: 900px;
    margin: 10vh auto;
    border-radius: 20px;
  }
  
  .div-perfil {
    width: 100%;
  }
  
  .section-Perfil h2 {
    color: #000;
    font-size: 35px;
  }
  .section-Perfil p {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    max-width: 100% ;
    word-wrap: break-word;
  }

  .Identidade {
    display: flex;
    margin-left: 15px;
    width: 95%;
    gap: 20px;
  }
  .Identidade p {
    background-color: rgba(255, 255, 255, 0.708);
    border-radius: 8px;
    padding: 0 10px 0px 10px;
    
  }

  .Icon-pessoa {
    display: flex;
    flex-direction: row;
    gap:10px;
  }

  .Text-icon {
    display: flex;
    flex-direction: row;
    margin-left: 15px;
    gap: 10px;
  }

  .bi-person {
    font-size: 25px;
    
  }

  .bi-globe-americas {
    font-size: 25px;
  }

  .bi-at {
    font-size: 25px;
  }

  .bi-person-vcard{
    font-size: 25px;
  }
  .bi-pencil-square{
    font-size: 20px;
  }

  .Text-icon p{
    background-color: rgba(255, 255, 255, 0.708) ;
    padding: 0 10px 0px 10px;
    border-radius: 8px;
    
  }

  .Logout {
    display: flex;
    width: 100%;
    justify-content: end;
  }
  
  .Sair {
    padding: 0.10rem 3rem;
    border: none;
    background-color: #ccc;
    margin: 5vh;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    justify-content: end;
  
  }
  
  button.Sair:hover {
    background-color: var(--button-color);
  color: white;
  
  }

  .TitleImagem {
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
    

  }

  .ImagemPerfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    width: 30vh;
  }

  .ImagemPerfil img {
    width: 100%;
    height: 100%;
    
    border-radius: 50%;
  }

  .EnviaFoto {
    display: none;
  }
  
  .file-upload-label {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 2px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 1vh;
  }

  .file-upload-label:hover {
    background-color: var(--button-color);
    color: white;
  }
  
  .file-upload-label.disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .remove-image-button {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 2px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    margin-top: 2vh;

}

  .remove-image-button:hover{
    background-color: var(--button-color);
    color: white;
}


