/* -------------------------------- */
/* Página ResetPassword */
/* -------------------------------- */

.section-Resetpass {
    display: flex;
    background-color: var(--button-color-transparent);
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 10vh auto;
    border-radius: 20px;
    
  }
  
  .logo-titulo-ResetPass{
    display: flex;
    flex-direction: column;
    margin: 5vh;
    align-items: center;
    gap: 20px;
  }
  
  .form-Resetpass {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
  
  }
  
  .form-Resetpass input {
    border: none;
    border-radius: 5px;
    width: 45vh;
    font-size: 20px;
  }
  .form-Resetpass label {
   font-size: 25px;
  }
  
  .error {
   font-size: 25px;
   word-wrap: break-word;
   max-width: 70;
  
  }
  
  .success {
    font-size: 25px;
    word-wrap: break-word;
    max-width: 70;
  }
  
  .ResetPass {
      padding: 0.60rem 3rem;
      border: none;
      background-color: var(--button-color);
      color: white;
      border-radius: 5px;
      cursor: pointer;
      font-size: 20px;
      margin-bottom: 5vh;
  
  }
  
  button.ResetPass:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    color: #000;
  }
  
  .Reset-entrar {
    font-size: 25px;
    margin-left: -13vh;
    
  }
  
  .Reset-IRcadastro {
    font-size: 25px;
  }